<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>PDF NODE JS</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Alegreya|Source+Sans+Pro&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="styles.css">
  </head><html>
<body>
<!--THIS IS THE TABS-->
<div class="tab">
  <button class="tablinks" onclick="openTab(event, 'Cases')" id="defaultOpen">Cases</button>
  <button class="tablinks" onclick="openTab(event, 'Accounts')">Accounts</button>
  <button class="tablinks" onclick="openTab(event, 'PDF')">PDF</button>
</div>
<div id="Cases" class="tabcontent">
    <table class="table">
      <thead><th>CaseNumber</th><th>Subject </th><th>Id</th> </thead>
      <tbody><% pv.canvasrecords.cases.forEach(function(c) { %>
          <tr>
            <td><%= c.CaseNumber %></td>
            <td><%= c.Subject %></td>
            <td><%= c.Id %></td>
          </tr><% }); %>
      </tbody>
    </table>
</div>
<div id="Accounts" class="tabcontent">
    <table class="table">
      <thead> <th>Account Name</th><th>Account Id</th></thead>
      <tbody><% pv.jsforcerecords.records.forEach(function(acc) { %>
          <tr>
            <td><%= acc.Name %></td>
            <td><%= acc.Id %></td>
         </tr><% }); %>
      </tbody> </table>
</div>
<div id="PDF" class="tabcontent">
  <h1>PDF generator</h1>
  <button id="myButton">Create PDF</button><br/>
  <a id="output" href="#"></a><br/>
</div>

<script type="text/javascript" >
  const button = document.getElementById('myButton');
  button.addEventListener('click', function(e) {
  fetch('/clicked', {method: 'POST', headers: {'Content-Type': 'application/json'},
    }).then(function(response) {
      response.json().then((result) => {
        document.getElementById("output").href=result.filelocation; 
        document.getElementById('output').innerHTML = 'PDF CREATED ' + result.filelocation;
      })})
    .catch(function(error) {console.log(error);});});
</script>
<script>
  function openTab(evt, TabName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {tabcontent[i].style.display = "none";}
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {tablinks[i].className = tablinks[i].className.replace(" active", "");}
    document.getElementById(TabName).style.display = "block";
    evt.currentTarget.className += " active";}
  document.getElementById("defaultOpen").click();
  </script>
</body>
</html>